/* 로고 */
.LoginWrap {
  padding: 0 20px;
}
.loginLogo {
  width: 208px;
  height: 96px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 8rem;
  position: relative;
}

/* 입력 폼 */
.loginForm {
  margin-top: 4rem;
}
.email,
.password {
  box-sizing: border-box;
  background: #313131;
  color: #fff;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #313131;
  padding: 18px 0 18px 12px;
}
/* 체크박스 */
#keepLogin {
  display: none;
}

#keepLogin + label {
  cursor: pointer;
  font-size: 0.86em;
  line-height: 2em;
}

/* label:before에 체크하기 전 상태 CSS */
#keepLogin + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #212121;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 6px;
}

/* label:before에 체크 된 상태 CSS */
#keepLogin:checked + label:before {
  content: "✔";
  background-color: #212121;
  border-color: #212121;
  line-height: 1.5em;
  text-align: center;
}

/* 회원가입 버튼 */
.loginSignup {
  font-size: 0.86em;
  text-align: center;
  margin-top: 1.43em;
  margin-bottom: 4.36em;
}
.loginSignup a {
  color: #3cd36c;
}
.loginSignup span {
  margin: 0 19px;
  color: #3cd36c;
}

/* 로그인버튼 */
.login {
  margin-top: 3.64em;
  font-size: 1.29em;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  color: #3cd36c;
  border: 1px solid #3cd36c;
  padding: 18px 0;
}

/* 소셜 로그인 */
.Oauth {
  width: 100%;
  font-size: 1.29em;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  color: #3cd36c;
  border: 1px solid #3cd36c;
  padding: 18px 0;
  text-align: center;
  margin-bottom: 10px;
}
