/* 체크박스 */
#checkbox {
  display: none;
}

#checkbox + label {
  cursor: pointer;
  font-size: 0.86em;
  line-height: 2em;
}

/* label:before에 체크하기 전 상태 CSS */
#checkbox + label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #212121;
  border-radius: 4px;
  vertical-align: middle;
  margin-right: 6px;
}

/* label:before에 체크 된 상태 CSS */
#checkbox:checked + label:before {
  content: "✔";
  background-color: #212121;
  border-color: #212121;
  line-height: 1.5em;
  text-align: center;
}
